/*All*/
div.preview {
    width: 100%;
    height: 90vh;
    text-align: center;
    padding: 0;
}

div.row {
    height: 90vh;
    padding: 0;
    margin: 0;
}

div #html-content-holder {
    width: 100%;
    margin: 0 auto;
}

div.preview img {
    width: 100%;
    background-image: url(../img/choice-img.png);
    background-color: var(--cor-principal-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button.btn{
    color: white;
    background-color: var(--cor-principal);
    border: none;
    font-family: Arial;
    font-weight: 600;
    width: 60%;
    margin-bottom: 20px;
}
