div.preview img {
    width: 100%;
    background-image: url(../../img/choice-img.png);
    background-color: var(--cor-principal-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button.btn{
    color: white;
    background-color: var(--cor-principal);
    border: none;
    font-family: Arial;
    font-weight: 600;
    width: 60%;
    margin-bottom: 20px;
}

.preview {
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 0;
}

.quadrado{
    width: 270px;
    height: 270px;
    background-color: rgb(31, 49, 49);
}

.vertical{
    width: 270px;
    height: 480px;
    background-color: rgb(23, 26, 21);
}