.preview {
    width: 500px;
    height: 500px;
    padding: 0;
}

#img-upload {
    width: 100%;
    background-image: url(../../img/choice-img.png);
    background-color: var(--cor-principal-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn{
    color: white;
    background-color: var(--cor-principal);
    border: none;
    font-family: Arial;
    font-weight: 600;
    width: 270px;
}

.quadrado{
    width: 270px;
    height: 270px;
    background-color: rgb(31, 49, 49);
}

.vertical{
    width: 270px;
    height: 480px;
    background-color: rgb(23, 26, 21);
}

#load{
    width: 150px;
    margin-left: 70px;
    display: none;
}

#btn_convert{
    display: none;
}

#btn_download{
    display: none;
}