
/*Desktop*/
@media (min-width: 1024px) {
    img.img-backgroud-top {
        margin-top: -140px;
        width: 100vw;
        position: relative;
        z-index: -1;
    }

    div.container{
        margin: 0;
        padding: 0;
    }

    div.row{
        width: 100vw;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    div.linha-titulo {
        padding-top: 50px;
    }

    div.linha-mensagem {
        padding-top: 80px
    }

    p.titulo {
        font-family: Segoe UI;
        font-weight: 600;
        color: var(--cor-secundaria);
        font-size: 50pt;
    }

    p.mensagem {
        font-family: Segoe UI;
        font-weight: 500;
        color: var(--cor-secundaria);
        font-size: 20pt;
    }

    button.btn{
        color: var(--cor-erro);
        background-color: var(--cor-secundaria);
        box-shadow: 3px 3px 0px var(--cor-erro);
        border: none;
        font-family: Segoe UI;
        font-weight: 600;
        width: 40%;
    }
}