
h1{
    color: white;
    margin-top: 100px;
    text-align: center;
}
h2{
    color: white;
}
#btn_convert{
    background-color: white;
    border-color: white;
    color: red;
    font-size: 30px;
}

#content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


body{
    padding: 0px;
    margin: 0px;
    background-color: red;
}
#main{
    margin-top: 0px;
}
#content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (min-width: 960px){
    .upload{
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media (max-width: 960px){
    .upload{
        text-align: center;
    }
}