label#upload{
    display: inline-block;
    background-image: url("img/upload-image.png");
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
    background-color: indigo;
    color: white;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}
.input{
    border-radius: 15px 15px 15px 15px;
    width: 400px;
}

input[type="file"] {
    display: none;
}