
/*Mobile*/
@media (max-width: 767px) {

    div.row{
        height: 100vh;
        width: 100vw;
    }

    img.img-upload {
        width: 50%;
        border: solid 1px var(--cor-principal);
    }

    div.img-upload {
        height: 30vw;
        width: 30vw;
        border: solid 1px var(--cor-principal);
        background-image: url('img/choice-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }

    div.coluna {
        text-align: center;
    }

    div.titulo {
        margin: 80px 0px 40px 0px;
    }

    h1 {
        color: var(--cor-secundaria-dark);
        font-family: Segoe UI;
        font-weight: 600;
    }

    div.form-group {
        width: 60%;
        margin: auto;
        margin-bottom: 20px;
    }

    div.form-group input{
        background-color: var(--cor-secundaria);
        border-color: var(--cor-principal);
    }

    div.form-group select {
        background-color: var(--cor-secundaria);
        border-color: var(--cor-principal);
    }

    img.img-upload {
        width: 80%;
        border: solid 1px var(--cor-principal);
    }

    div.img-upload {
        height: 30vw;
        width: 30vw;
        border: solid 1px var(--cor-principal);
        background-image: url('img/choice-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }

    button.btn{
        color: var(--cor-principal);
        background-color: var(--cor-secundaria);
        box-shadow: 3px 3px 0px var(--cor-principal);
        border: none;
        font-family: Segoe UI;
        font-weight: 600;
        width: 50%;
        margin: 50px 0px 50px 0px;
    }

    img.img-backgroud-top {
        width: 60vw;
    }

    img.img-backgroud-footer {
        width: 110vw;
        min-width: 500px;
        position: relative;
        z-index: -1;
    }

    div.fundo-desktop{
        display: none;
    }
}

/*table*/
@media (min-width: 768px) and (max-width: 1023px) {

}

/*Desktop*/
@media (min-width: 1024px) {

    div.container{
        margin: 0;
    }

    div.row{
        height: 100vh;
        width: 100vw;
    }

    div.coluna {
        text-align: center;
    }

    div.titulo {
        margin-bottom: 60px;
    }

    h1 {
        color: var(--cor-secundaria-dark);
        font-family: Segoe UI;
        font-weight: 600;
    }

    div.form-group {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    div.form-group input{
        background-color: var(--cor-secundaria);
        border-color: var(--cor-principal);
    }

    div.form-group select {
        background-color: var(--cor-secundaria);
        border-color: var(--cor-principal);
    }

    div.img-produto {
        width: 50%;
        margin: 0 auto;
    }

    img.img-upload {
        width: 100%;
        border: solid 1px var(--cor-principal);
    }

    div.img-upload {
        height: 30vw;
        width: 30vw;
        border: solid 1px var(--cor-principal);
        background-image: url('img/choice-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }
    
    button.btn{
        color: var(--cor-principal);
        background-color: var(--cor-secundaria);
        box-shadow: 3px 3px 0px var(--cor-principal);
        border: none;
        font-family: Segoe UI;
        font-weight: 600;
        width: 40%;
        margin-top: 130px;
    }

    img.img-backgroud-top {
        width: 25vw;
    }

    img.img-backgroud-footer {
        width: 50vw;
        position: relative;
    }

    div.fundo-desktop {
        z-index: -1;
    }

    div.fundo-mobile{
        display: none;
    }
}
