#html-content-holder{
    background-image: url('uploads/fundo.jpg');
    margin: auto;
}
#logo-claus{
    float: left;
}
#info{
    position: relative;
    float: right;
}
h5 {
    text-align: center;
    margin: 0;
}

h1{
    color: greenyellow;
}

.input{
    border-radius: 15px 15px 15px 15px;
    width: 200px;
}

#screen-down{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index:1;
}

#main{
    margin-top: 0px;
    z-index:50;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (min-width: 960px){
    .download{
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media (max-width: 960px){
    .download{
        text-align: center;
    }
}