
/*Desktop*/
@media (min-width: 1024px) {
    div.container {
        margin: 0;
    }

    div.row{
        height: 100vh;
        width: 100vw;
    }
    
    div.coluna{
        text-align: center;
    }

    div #html-content-holder {
        width: 70%;
        margin: 0 auto;
    }

    div.preview {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }

    p.txtpreco{
        padding: 0;
        margin: 0;
    }

    p.txtsku{
        padding: 0;
        margin: 0;
    }

    p.txtphone{
        padding: 0;
        margin: 0;
    }

    div.textopreco{
        position: absolute;
        bottom: 7.4vw;
        right: 1vw;
        font-size: 0.95vw;
        color: white;
        font-family: Segoe UI;
    }

    div.textosku{
        position: absolute;
        bottom: 5.2vw;
        right: 1vw;
        font-size: 0.95vw;
        color: white;
        font-family: Segoe UI;
    }

    div.textophone{
        position: absolute;
        bottom: 3.09vw;
        right: 1vw;
        font-size: 0.95vw;
        color: white;
        font-family: Segoe UI;
    }

    img.img-produto {
        width: 100%;
    }

    button.btn{
        color: var(--cor-principal);
        background-color: var(--cor-secundaria);
        box-shadow: 3px 3px 0px var(--cor-principal);
        border: none;
        font-family: Segoe UI;
        font-weight: 600;
        width: 60%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    p.voltar u {
        color: white;
        font-weight: 500;
    }

    div.fundo-desktop {
        z-index: -1;
    }

    img.img-backgroud-footer {
        width: 80vw;
        position: relative;
        z-index: -1;
    }
}
