:root {
    --cor-principal: #62d409;
    --cor-secundaria: #F8F8F8;
    --cor-secundaria-dark: #a4a4a4;
    --cor-erro: #ea0e06;
}

@font-face {
    font-family: Segoe UI;
    src: url(Font/Segoe\ UI.ttf);
}

@font-face {
    font-family: Segoe UI;
    src: url(Font/Segoe\ UI\ Bold.ttf);
    font-weight: 600;
}