.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 10px;
}

.quadrado{
    width: 270px;
    height: 270px;
    background-color: rgb(31, 49, 49);
}

.vertical{
    width: 270px;
    height: 480px;
    background-color: rgb(23, 26, 21);
}

.vertical img, .quadrado img {
    width: 100%;
}
