:root {
    --cor-principal: #00fd00;
    --cor-principal-dark: #1f1f1f;
}

@font-face {
    font-family: Arial;
    src: url(/fonte/arial-rounded-mt-bold.ttf);
 }

body {
    padding: 0;
    margin: 0;
}

div.cabecalho{
    padding: 0;
    text-align: center;
}

footer {
    background-color: var(--cor-principal-dark);
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
footer>a{
    color: #3087d8;
    text-decoration: none;
}

.input{
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70%;
    height: 50px;
    border: solid 1px #ccc ;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  input:focus {
    outline-color: #004fde;
  }
  
  .button{
    background-color: #004fde;
    color:#ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
  }
  
  .button:hover{
    background-color: #ffffff;
    color: #004fde;
    border: solid 1px #004fde;
  }

/*Desktop*/
@media (min-width: 1024px) {
    div.cabecalho img {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
    }

    div.footer img {
        width: 100px;
        padding: 20px 0px;
    }

    .title{
        font-size: 30px;
      }
}

/*table*/
@media (min-width: 768px) and (max-width: 1023px) {
    div.cabecalho img {
        width: 250px;
        margin: 0 auto;
        padding: 20px;
    }

    div.footer img {
        width: 100px;
        margin: 0 auto;
        padding: 20px 0px;
    }
}

/*Mobile*/
@media (max-width: 767px) {
    div.cabecalho img {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
    }

    div.footer img {
        width: 70px;
        padding: 20px 0px;
    }

    .title{
        font-size: 30px;
      }
}
